# AWS IoT Core Configuration
# Obtén estos valores de AWS IoT Console

# Endpoint de AWS IoT Core (ejemplo: a38a842oqvrvuj-ats.iot.us-east-2.amazonaws.com)
AWS_IOT_ENDPOINT=your-endpoint.iot.region.amazonaws.com

# Client ID para el director (debe coincidir con la política AWS)
AWS_IOT_CLIENT_ID=director_aws

# Rutas a los certificados (relativos a local-test/src/)
AWS_CA_CERT_PATH=../certs/AmazonRootCA1.pem
AWS_CLIENT_CERT_PATH=../certs/director-certificate.pem.crt
AWS_PRIVATE_KEY_PATH=../certs/director-private.pem.key

